body {
    overflow: hidden;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
    display: none;
}